.navbar {
      margin-bottom: 0;
      background-color: #008080;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }

.navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }

.navbar-nav li a:hover, .navbar-nav li.active a {
      color: #008080 !important;
      background-color: #fff !important;
  }

.navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

#footer{
	margin-top: 50px;
	padding: 60px 0 40px;
	background-color: #393e46;
}

#footer p{
	color: rgba(255, 255, 255, 0.7);
	font-size: 14px;
}

#footer p a {
	color: rgba(255, 255, 255, 0.5);
}

#footer p a:hover, #footer p a:active, #footer p a:focus {
	color: rgba(255, 255, 255, 0.9) !important;
}

#footer .fh5co-footer-link {
	padding-bottom: 30px;
}

#footer .fh5co-footer-link h3 {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 25px;
}

#footer .fh5co-footer-link li, #footer .fh5co-footer-link ul {
	padding: 0;
	margin: 0;
}

#footer .fh5co-footer-link li {
	list-style: none;
	margin-bottom: 15px;
	line-height: 1.3;
}

#footer .fh5co-footer-link li a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

#footer li a:hover, #footer li a:active, #footer li a:focus {
	color: #fff !important;
}

#footer .fh5co-social-icons h3 {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 25px;
}

#footer .fh5co-social-icons li{
	list-style: none;
}

#footer .fh5co-social-icons li a{
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

/*#footer .fh5co-social-icons a {
  padding: 4px 10px;
  color: #4fc1e9;
}
#footer .fh5co-social-icons a i {
  font-size: 26px;
}
#footer .fh5co-social-icons a:hover, .fh5co-social-icons > a:focus, .fh5co-social-icons > a:active {
  text-decoration: none;
  color: #5a5a5a;
}*/